* {
  margin: 0;
  padding: 0;
}

.movie-list {
  width: 1010px;
  padding-top: 21px;
  padding-bottom: 21px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 36px;
}

li {
  list-style-type: none;
}

.paginationInSite {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-panel {
  width: 938px;
  height: 40px;
  border: 1px solid #D9D9D9;
  padding-left: 12px;
  border-radius: 4px;
  margin-left: 35px;
}
